body{
    background: #6200ff;
    color: #ffffff;
    text-shadow: 
        0 0 5px #800080,
        0 0 10px #800080,
        0 0 15px #800080,
        0 0 20px #800080,
        0 0 30px #800080,
        0 0 40px #800080,
        0 0 55px #800080,
        0 0 75px #800080;
        font-family: fantasy;
}

main{
    min-height: 100vh;
}

h1{
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    border: #ffffff solid;padding: 5px;
    width: 460px;
    background: url(https://gifdb.com/images/high/retro-pixel-landscape-background-0g0dpo6tlg0pbmfp.webp);
    background-position: calc(-140px);
    transform: translateX(-50%);
    margin-left: 50vw;

}

.cell {
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    cursor: pointer;
    font-family: sans-serif;
}

span{
    float: right;
}

@media screen and (max-width: 560px) {
    *{
        transform: scale(0.85);        
    }
}

/* https://drive.google.com/file/d/1h8w3OSaCsyPalpFmbjkGeAsBYIRNf3qe/view?usp=sharing */
